@import 'variables';
@import 'swiper';
.outer-tabs-wrapper {
  margin:-10px -10px;
}
.custom-tabs-slider {
  width: 100%;
  float: left;
  padding: 100px 20px;
  position: relative;
  transition: all ease .2s;
  #tab-links {
    margin: 0 0 40px;
    padding: 0 0;
    list-style: none;
    width: 100%;
    float: left;
    li {
      display: inline-block;
      float: left;
      margin-right: 4vw;
      opacity: 0.35;
      transition: all ease .3s;
      &.active {
        opacity: 1;
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 35px;
      font-weight: bold;
      line-height: 1.2;
      color: #FFF;
      outline: none;
      &:focus, &:active {
        outline: none;
      }
    }
  }
  .tab-info {
    color: #FFF;
  }

  .tab-swiper-wrap {
    width: 100%;
    float: left;
    position: relative;
    z-index: 10;
  }
  .swiper-wrapper {
    z-index: 20;
  }
  .swiper-slide {
    opacity: 0;
    visibility: hidden;
    &.swiper-slide-active {
      opacity: 1;
      visibility: visible;
    }
  }
  .swiper-pagination {
    display: none;
  }

  .inner-wrap {
    max-width: 1000px;
    width: 100%;
    margin:0 auto;
    position: relative;
  }

  .tab-section-title {
    h2 {
      margin:0 0 40px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      color: #FFF;
      span {
        display: inline-block;
        border-bottom: 2px solid #FFF;
        padding-bottom: 17px;
      }
    }
  }

  .buttondiv {
    margin-top: 50px;
    a {
      display: inline-block;
      text-decoration: none;
      padding: 15px 20px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover {
        background-color: tint(#FFF,.5%);
      }
    }
  }
}

body.home {
  #car-icon {
    display: block;
    width: 50px;
    height: 70px;
    background-image: url("../images/car.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 50vh;
    right: 8px;
    z-index: 999;
    @include animateThis(1s);
    //animation: headShake 2s infinite;
    transition: all ease .3s;
    &.moved {
      animation-duration: 5s;
      animation: shakeY 4s infinite;
      // @include animateEffect(shakeX);

      transform: translateY(60px);
    }
    &.bottom {
      top: 85vh;
    }
  }
  #car-lines-1 {
    display: none;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 810;
    &:before {
      content:"";
      display: block;
      width: 2px;
      height: 100%;
      position:absolute;
      top: 60vh;
      left: 0;
      @include broken_lines_white();
    }
  }
  #car-lines-2 {
    // width: 5px;
    // height: 100%;
    // position: fixed;
    // top: 0;
    // right: 30px;
    // z-index: 810;
    width: 60px;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 3000;
    span {
      display: block;
      // width: 2px;
      // height: 100%;
      // position:absolute;
      // top: 60vh;
      // left: 0;
      width: 2px;
      bottom: 0;
      height: 76%;
      position: absolute;
      left: 0;
      overflow: hidden;
      @include broken_lines_white();
    }
  }
  #car-lines-1,
  #car-lines-2 {
    display: none!important;
  }

  section.elementor-element-1e657f92,
  section.elementor-element-4760d35e,
  section.elementor-element-1edcfc8d {
    &:before {
      content:"";
      display: block;
      width: 2px;
      bottom: 0;
      height: 100%;
      position:absolute;
      top: 4px;
      right: 30px;
      z-index: 900;
      opacity: 0.15;
      @include broken_lines_white();
      filter: invert(50%);
    }
  }
}
body.home .site {
  overflow-x: hidden;
}
body.home .site:before {
  content:"";
  display: block;
  width: 2px;
  bottom: 0;
  height: calc(100% - 50vh);
  position:absolute;
  top: 50vh;
  right: 30px;
  z-index: 900;
  @include broken_lines_white();
}

/* Huh page */
body.elementor-page-1188 {
  .elementor-accordion-item  {
    position: relative;
    .elementor-tab-title {
      padding-top:0!important;
      padding-left: 37px!important;
    }
    span.elementor-accordion-icon {
      display: inline-block;
      position: absolute;
      top: 3px;
      left: 0;
      font-size: 26px;
      line-height: 1;
    }
    .elementor-tab-content {
      padding-top:0!important;
    }
  }
}

.elementor-accordion-item {
  a.elementor-accordion-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}


.footer-social-media {
  .elementor-widget-wrap {
    @include flexgroup();
    @include flexbox-justify(center);
    @include tab {
      display: block!important;
    }

  }
  .elementor-widget-wrap .elementor-element.elementor-widget-social-icons {
    display: inline-block;
    width: auto;
    margin: 5px 3vw;
    @include tab {
      display: block;
      width: 100%;
      margin:0 0 20px;
    }
    a {
      font-size: 15px;
      @include tab {
        font-size: 10px;
      }
    }
  }
}

.footer-navigation.elementor-top-column.elementor-element {
  width: 100%;
  @include tab {
    width: 75%;
  }
  .elementor-divider-separator {
    display: none;
  }
  ul.elementor-nav-menu {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #58595b;
  }
}
.elementor-1129 .elementor-element.elementor-element-81a907b .elementor-divider-separator {
  width: 100%;
}
.elementor-element-27d1cbe .elementor-widget-container {
  text-align: center;
  @include tab {
    text-align: right;
  }
}
